<ion-header>
  <ion-navbar color = "danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Teammate Photos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="home"></ion-icon>
      </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor = "let item of items">
      <ion-thumbnail *ngIf="item.status">
        <img src="{{item.img}}">
      </ion-thumbnail>
    </ion-item>
  </ion-list>
</ion-content>