page-Rugby101Page {

.wrapper {
  position: center;
  color: white;
}

.wrapper ion-title {
  color: white;
  background: url(../assets/images/101.png) repeat center;
  bottom: 0%;
  font-size: 0px;
  left: 0;
  padding: 0px 0px;
  position: center;
}
.wrapperheader ion-title{
	background: url(../assets/images/header.png) repeat center;
}
ion-navbar{
  height:100px;
}
ion-toolbar{
  height:100px;
}
}
